<div class="row">
    <div class="col-md-4 col-sm-6 col-12">
        <form action="">
            <div class="mb-2">
                <label for="name" class="form-label">Prénom(*)</label>
                <input type="text" name="name" id="name" required placeholder="Écris votre prénom" class="form-control">
            </div>
            <div class="mb-2">
                <label for="surname" class="form-label">Nom(*)</label>
                <input type="text" name="surname" id="surname" required placeholder="Écris votre nom de famille"
                    class="form-control">
            </div>
            <div class="mb-2">
                <label for="telephone" class="form-label">Téléphone(*)</label>
                <input type="text" name="telephone" id="telephone" required placeholder="Écris votre nom de famille"
                    class="form-control">
            </div>
        </form>
    </div>
</div>